{
	"env": {
		"production": {
			"plugins": [
				"@babel/plugin-proposal-object-rest-spread",
				"transform-class-properties",
				"babel-plugin-styled-components"
			]
		},
		"development": {
			"plugins": [
				"@babel/plugin-proposal-object-rest-spread",
				"transform-class-properties",
				"babel-plugin-styled-components"
			]
		}
	},
	"presets": ["@babel/preset-env", "@babel/preset-react"]
}
