{
	"env": {
		"production": {
			"plugins": [
				"@babel/plugin-proposal-object-rest-spread",
				"transform-class-properties",
				"babel-plugin-styled-components",
				"@babel/plugin-transform-runtime"
			]
		},
		"development": {
			"plugins": [
				"@babel/plugin-proposal-object-rest-spread",
				"transform-class-properties",
				"babel-plugin-styled-components",
				"@babel/plugin-transform-runtime"
			]
		}
	},
	"presets": [
		[
			"@babel/preset-env", 
			{
				"targets": {
					"node": "10"
				}
			}
		],
		"@babel/preset-react"
	]
}
